node_modules/
.next/
dist/
build/
.env
.env.local
*.log
.DS_Store
coverage/
prisma/*.db
.turbo/

.env
frontend/.env
.vercel
.env*

frontend/tsconfig.tsbuildinfo
.venv/
ai-agent/.venv/
ai-agent/**/__pycache__/
